body {
  background-color: lightgreen;
}

p{
  font-family: Verdana, Arial, sans-serif;
}

h1, h2{
  font-family: Georgia, "Times New Roman", serif;
}

article{
  float: left;
  width: 500px;
  margin: 10px;
}

footer{
  clear: both;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}

a:link{
  text-decoration: none;
  color: #639A00;
}
a:hover{
  text-decoration: underline;
  color: #639A00;
}
